<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: orange;">server date - {{serverDate}} !!!</h1>
     <a href="/">Home</a>
    <a href="/about.html">About</a>
    <a href="/support.html">Support</a>
    <a href="/todos">Todos</a>
    <a href="/names">Names</a>
    <a href="/add-todo-form.html">Add todo</a>
    <a href="/add-name-form.html">Add name</a>


</body>
</html>