<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is todos page</h1>
     <a href="/">Home</a>
    <a href="/about.html">About</a>
    <a href="/support.html">Support</a>
    <a href="/server-date">Server date</a>
    <a href="/add-todo-form.html">Add todo</a>
    <a href="/add-name-form.html">Add name</a>

    <a href="/names">Names</a>
    <h2>{{todos.length}}</h2>
    <ul>
     {{#each todos}}
        <li>{{this}}</li>
     {{/each}}
    </ul>
    
</body>
</html>